<div id="menu">
    <ul class="menu">
        <li>
            <a class="leftIcon">
                <mat-icon>home</mat-icon>Home
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>flight</mat-icon>Flights
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>bookmark</mat-icon>Bookmarks
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>pie_chart</mat-icon>Synthesis
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>contacts</mat-icon>Contact
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>help</mat-icon>Help
            </a>
        </li>
        <li>
            <a class="leftIcon">
                <mat-icon>power_settings_new</mat-icon>Logout
            </a>
        </li>
    </ul>
</div>